.completeArea {
  background-color: #a5ebef;
  border-radius: 10px;
  width: 50%;
  height: 300px;
  margin: 10px auto;
}

.completeArea-title {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  background-color: #f5c2fa;
  color: #000000;
  margin-bottom: 10px;
}

.completeArea-list {
  display: flex;
  justify-content: center;
}

.completeArea-list-item {
  display: flex;
  align-items: center;
}

.completeArea-list-text {
  font-size: 24px;
  margin-right: 10px;
}
